<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V Buchanan Portfolio</title>
    

    <link rel="stylesheet" href="./style.css">
    
</head>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../public/./js/login.js">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../public/js/logout.js">Logout</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="../public/js/signup.js">Signup</a>
        </li>
    </ul>
  
</div>
<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dashboard</a>
    </div>
  </nav>
</div>



    <div class="footer">
      <a href="">➕ New Post</a>

    </div>

</body>
</html> 
    
    


   
   
    
    
    
    
